<%- include('partials/header') %>

<div class="hero">
    <div class="title-subtitle">
        <h1>WatchedThem</h1>
        <p>Leave a review about your favourite movies</p>
    </div>
    <div class="btn-group">
        <button class="btn btn-neutral clickable">
            Reviews
        </button>
        <button class="btn btn-primary clickable">
            New Post
        </button>
    </div>
</div>

<div class="review-grid">

    <div class="small-heading">
        <h1>
            Popular reviews
        </h1>
        <p>
            Currently trending reviews left by others like you
        </p>
    </div>

    <div class="card-grid">
        <%- include("partials/review-card") %>
        <%- include("partials/review-card") %>
        <%- include("partials/review-card") %>
        <%- include("partials/review-card") %>
        <%- include("partials/review-card") %>
        <%- include("partials/review-card") %>

    </div>
</div>

<%- include('partials/footer') %>