<%- include('partials/header') %>

<% if (locals.data) { %>
    <%- include('partials/user-head', {data: data}) %>

<div class="section-movie-list">
    <div class="small-heading">
        <h1>Movies you've reviewed</h1>
    </div>

    <div class="movie-list">

        <% if (locals.data) { %>
            <% if (data.posts.length > 0) { %>

                <% data.posts.forEach(e => { %>

                    <div class="movie">
                        <%- include('partials/the-stars', {stars: e.stars}) %>
                        <div class="poster">
<!-- Getting poster images are connected to the APIs, so its a problem for the future me -->
                            <img 
                            src="/icons/shining-poster.png" 
                            alt="movie poster" 
                            class="clickable"/>
                        </div>
                    </div>

                <% }); %>

            <% } else { %>

            <% } %>
        <% } %>

    </div>

    <% if (locals.data) { %>
        <% if (data.favs.length > 5) { %>
            <%- include('partials/pagination') %>
        <% } %>
    <% } %>
</div>

<div class="user-review-grid">
    <div class="small-heading">
        <h1>Your Reviews</h1>
    </div>

    <div class="card-grid">
        <% if (locals.data) { %>
            <% if (data.posts.length > 0) { %>
                <% data.posts.forEach(e => { %>

                    <%- include('partials/user-review', {review: e}) %>

                <% }); %>
            <% } else { %>

            <% } %>
        <% } %>

    </div>
    <% if (locals.data) { %>
        <% if (data.posts.length > 3) { %>
            <%- include('partials/pagination') %>
        <% } %>
    <% } %>
</div>


<div class="user-review-grid gray-back">
    <div class="small-heading">
        <h1>Your Favourites</h1>
    </div>

    <div class="card-grid">
        <% if (locals.data) { %>
            <% if (data.favs.length > 0) { %>
                <% data.favs.forEach(e => { %>

                    <%- include('partials/user-review', {review: e}) %>

                <% }); %>
            <% } else { %>

            <% } %>
        <% } %>
    
    </div>
    <% if (locals.data) { %>
        <% if (data.favs.length > 3) { %>
            <%- include('partials/pagination') %>
        <% } %>
    <% } %>
</div>


<% } else { %>
    <div class="error">
        There was an error with getting your data, please try again.
    </div>
<% } %>

<%- include('partials/footer') %>
